{% load static %}
<footer class="footer">

    <div class="footer-logo">

        <h2> <span>Morapakula Chandrika</span></h2>

        <p>
            Python | Java Full Stack Developer
        </p>

    </div>

    <p class="footer-description">

        Building scalable web applications with Python, Django,
        Java and modern web technologies.

    </p>

    <div class="footer-social">

        <a href="https://github.com/morapakulachandrika"
           target="_blank">

            <i class="fa-brands fa-github"></i>

            GitHub

        </a>

        <a href="https://www.linkedin.com/in/chandrikamorapakula"
           target="_blank">

            <i class="fa-brands fa-linkedin"></i>

            LinkedIn

        </a>

        <a href="mailto:morapakulachandrika07@gmail.com">

            <i class="fa-solid fa-envelope"></i>

            Email

        </a>

        <a href="{% static 'app/resume/resume13.pdf' %}"
           download>

            <i class="fa-solid fa-file"></i>

            Resume

        </a>

    </div>

    <hr>

    <div class="footer-bottom">

        <p>

            © 2026 Morapakula Chandrika. All Rights Reserved.

        </p>

        <p>

            Designed & Developed with ❤️ using HTML, CSS,
            JavaScript & Django.

        </p>

    </div>

</footer>