{% extends 'app/base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- ================= NAVBAR ================= -->

<nav class="navbar">

    <div class="logo">

        <span>MC</span>

        <h3>Chandrika</h3>

    </div>

        <ul class="nav-links">

            <li><a href="#home">Home</a></li>

            <li><a href="#about">About</a></li>

            <li><a href="#skills">Skills</a></li>

            <li><a href="#projects">Projects</a></li>
            
            <li><a href="#certifications">Certifications</a></li>
            <li><a href="#contact">Contact</a></li>

        </ul>
    <a href="#contact" class="notify-btn">
    Get In Touch
    </a>
</nav>


<!-- ================= HERO SECTION ================= -->

<!-- HERO SECTION -->

<section id="home" class="hero">

    <div class="hero-content">

        <div class="availability">

            <span class="dot"></span>

            Available for Opportunities

        </div>

        <p class="intro">

            Hello, I'm 👋

        </p>

        <h1>

            Morapakula <br>

            Chandrika

        </h1>

        <h3>

            Python Developer |

            Java Full Stack Developer

        </h3>

       

        <div class="buttons">

            <!-- Resume -->

            <a href="{% static 'app/resume/resume13.pdf' %}"

               download

               class="btn resume">

                Download Resume

            </a>

            <!-- Github -->

            <a href="https://github.com/morapakulachandrika"

               target="_blank"

               class="btn project">

                View Projects

            </a>

            <!-- Linkedin -->

            <a href="https://linkedin.com/in/chandrikamorapakula"

               target="_blank"

               class="btn connect">

                Let's Connect

            </a>


        </div>

       <div class="hero-stats">

            <div class="stat">

            <h2>
                <span class="gold-text">3+</span>
            </h2>

            <p>Projects</p>

        </div>
        <div class="stat">
            <h2>
                <i class="fa-solid fa-graduation-cap"></i> B.Tech
            </h2>
            <p>Computer Science Engineering</p>
        </div>

        <div class="stat">
            <h2>
                <i class="fa-solid fa-code"></i> Python | Java
            </h2>
            <p>Full Stack Development</p>
        </div>

        <div class="stat">
            <h2>
                <i class="fa-solid fa-location-dot"></i> Narasaraopet
            </h2>
            <p>Andhra Pradesh</p>
        </div>

        </div>

    </div>

    <div class="hero-image">

        <img src="{% static 'app/images/profile.jpeg' %}"

             alt="Morapakula Chandrika">

    </div>

</section>

{% include 'app/sections/about.html' %}

{% include 'app/sections/skills.html' %}

{% include 'app/sections/projects.html' %}
{% include 'app/sections/certifications.html' %}

{% include 'app/sections/contact.html' %}
{% include 'app/sections/footer.html' %}

{% endblock %}